html { 
  box-sizing : border-box; 
  height     : 100%;
}
*, *:before, *:after { box-sizing: inherit; }

html,body {
  height      : 100%;
  background  : #f2f2f2;
  margin      : 0;
  font-family : 'Open Sans', sans-serif;
}

#title { text-align: center; }

.pull-right { float: right; }
.pull-left { float: left; }
.group:after {
  content : "";
  display : table;
  clear   : both;
}


#nav-bar { 
  background  : #333; 
  color       : #fff; 
  font-size   : 24px; 
  height      : 50px;
  line-height : 50px;
}
.content-wrapper { max-width: 960px; margin: 0 auto; }

.nav-bar-dp { 
  margin-left : 40px; 
  font-size   : 16px;
}

.nav-bar-dp .dropdown-details {
  min-width     : 80px;
  background    : #fff;
  border-radius : 2px;
  padding       : 5px 8px;
  font-size     : 16px;
  line-height   : 18px;
  right         : 0;
  color         : #000;
}



.easy-dropdown { position: relative; }
.easy-dropdown .dropdown-toggle { cursor: pointer; cursor: hand; }
.easy-dropdown .dropdown-details {
    position   : absolute;
    top        : 100%;
}

.dropdown-details.hide { display: none; }
.dropdown.disabled { pointer-events: none; }
